button, .btn-redondo{
    @extend %transition;
}

button{
    text-transform: uppercase;
    font-weight: 600 !important;
    font-size: 14px;
    font-family: $roboto;
    letter-spacing: 1px;
    padding: 0 20px;
}

.btn-rojo{
    background: #fd3c50 !important;
    color: #FFF !important;
}

.btn-rojo:hover , .btn-rojo:focus{
    background: #FFF !important;
    color: #fd3c50 !important;
    box-shadow: inset 0 0 0px 2px #fd3c50;
}


.btn-morado{
    background: #4812b3 !important;
    color: #FFF !important;
}

.btn-morado:hover, .btn-morado:active {
    background: #FFF !important;
    color: #4812b3 !important;
    box-shadow: inset 0 0 0px 2px #4812b3;
}

.btn-azul-oscuro{
    background: darkblue !important;
    color: #FFF !important;
}

.btn-azul-oscuro:hover, .btn-azuloscuro:active {
    background: #FFF !important;
    color: darkblue !important;
    box-shadow: inset 0 0 0px 2px darkblue;
}

.btn-azul-mar{
    background: #0050ce !important;
    color: #FFF !important;
}

.btn-azul-mar:hover{
    background: #FFF !important;
    color: #0050ce !important;
    box-shadow: inset 0 0 0px 2px #0050ce;
}

.btn-marron-barber{
    background: #59532c  !important;
    color: #FFF !important;
}

.btn-marron-barber:hover{
    background: #FFF !important;
    color: #59532c  !important;
    box-shadow: inset 0 0 0px 2px #59532c;
}

.btn-negro{
    background: #333333 !important;
    color: #FFF !important;
}

.btn-negro:hover, .btn-negro:active {
    background: #FFF !important;
    color: #333333 !important;
    box-shadow: inset 0 0 0px 2px #333333;
}

.btn-redondo{
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    padding: 8px;
    color: #FFF;
    border-radius: 2px;
}

.btn-redondo:hover{
    color: black;
    background: #00000010;
}

.btn-opcion{
    //border: 1px solid #CCC;
    background: transparent;
    border-radius: 50px;
    width:40px;
    height: 40px;
    padding: 5px;
    margin: 0;
}

.btn-op-size-s{
    width:35px;
    height: 35px;
}

// BTN OP

.btn-op-azul-mar{
    border: 1px solid #0050ce;
    background:  #FFF;
    color: #0050ce;
}

.btn-op-azul-mar:hover{
    background: #0050ce;
    color: #FFF;
}
