
body#dashboard{
    background: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: $open-sans!important;
    font-size: 100%;

    main{
        margin: 0 auto;
        padding-left: 20%;
        @extend %transition;
    }

}

#nav-top{
    background:transparent;
    width: 100%;
    height: 40px;
    padding: 5px 0px;
    line-height: 40px;
    position: fixed;
    top: 0;
    color: #FFF!important;
    transition: all .2s ease;
    z-index: 999;

    #btn-nav{
        margin: 0 15px;
    }
}

#dashboard #nav-left{
    width: 20%;
    height: 100%;
    background: #222;
    box-shadow: 1px 0 2px 1px #00000030;
    vertical-align: top;
    position: fixed;
    left: 0;
    z-index: 99999;

    a:visited,a:link{color:inherit;}
    .logo{
        width:100%;
        max-width: 100%;
        height: 120px;
        background: #00000030;
        line-height: 120px;
        text-align: center;
        font-family: $roboto-condensed;
        font-size: 24px;
        color :#FFFFFF80;
        cursor: pointer;
    }
}

#nav-left #menu{
    list-style: none;
    color: #afafaf!important;
    font-size: 14px;
    padding: 0;
    margin: 0;

    i , span.icon-nav-a{
        @extend %horizontal-align;
        margin-right: 15px;
    }

    li.itmMenu{
        max-width: 100%;
        height: auto;
    }

    li.itmMenu .textItm{
        max-width: 100%;
        height: auto;
        padding: 15px 0px 15px 20px;
        cursor: pointer;

        #expand{
            -webkit-transition: transform 0.1s; /* Safari */
            transition: transform 0.1s;
            //@extend %transition;
        }
    }

    li.itmMenu div.textItm:hover , .active{
        background: #FFFFFF15;
        color: white;
        @extend %transition;
    }

    .menu-toogle{
        float: right;
        margin-top: 3px;
    }

    .sub-menu{
        list-style: none;
        padding: 0;
        //margin: 15px 0 -18px -18px;
        background: #4a4a4a;
        display: none;
        color: #afafaf;
    }

    .sub-menu li{
        padding: 12px 20px;
        cursor: pointer;
        @extend %transition;
    }

    .sub-menu li:hover {
        background : #FFFFFF10;
        color: #FFF;
    }

}

div#contenido{
    max-width: 100%;
    height: auto;
    padding: 0px 15px 15px 15px;
    margin: -120px auto auto auto;
    font-family: $roboto;
    color: #222!important;

    .box{
        background: #FFF;
        padding: 10px;
        box-shadow: 0 0 8px 0px #00000030;
        max-width: 80%;
        height: auto;
        margin-bottom: 10px;
        margin: 0 auto;

    }

    .box-2{
        display:grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    .box-3{
        display:grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }

    .box-8{
        display:grid;
        grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    }

    .box-title{
        max-width: 100%;
        height: auto;
        padding: 10px 10px 20px 10px;
        font-weight:600;
        color: #444;
        border-bottom: 1px solid #f0f0f0;

        i , a{ @extend %horizontal-align;}

        a{margin-top: 4px; margin-left: 10px;}
    }

    .box-mid{
        max-width: 100%;
        height: auto;
        padding: 10px;
    }

}

.box-info{
    border: 1px solid #f0f0f0;
    padding: 10px 10px 10px 10px;
    max-width: 100%;


        button{
            float: right;
        }

    .mid-box-info{
        max-width: 100%;
        height: auto;
    }
}

    .title-box-info{
        font-weight: 600;
        max-width: 100%;
        color: #999;
        font-family: $open-sans;
        font-size: 10px;
      }
label[for=busqueda-cliente] , label[for=busqueda-cliente] > select{
    float: right;
    font-size: 11px;
    color: darkblue;
}

label[for=busqueda-cliente] > select{
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin-top: -1px;
    outline: inherit;
}

.head-back-conten{
    max-width: 100%;
    height: 110px;
    padding: 55px 0 20px 30px;
    color: white;
    font-size: 24px;
    margin-bottom: 50px;
    font-family: $open-sans;

}

#contenido input[type=text]{
    border: 1px solid #f0f0f0;
}

.iconSearch::after{
    content: 'search';
    position: relative;
    float: right;
    cursor: pointer;
}

.infoCliente{
    max-width: 100%;
    font-size: 12px;
}

table.tablaItems{
    width: 100%;
    border-collapse: collapse;

    th{
        background: #D7E0EE70!important;
        padding: 10px;
        text-transform: uppercase;
        font-size: 11px;
        color: #162741;
        border: 1px solid #D7E0EE;
        //font-family: $open-sans;
        text-align: left;
    }

    td:nth-child(1),th:nth-child(1),th:nth-child(6),td:nth-child(6){text-align: center;}
    td:nth-child(5){text-align: right;}

    td{
        padding: 0px;
        font-size: 14px;
        border: 1px solid #D7E0EE;
        text-align: left;
    }

    tbody > tr:hover{
        background: #D7E0EE20;
    }

    .btn-opcion{
        margin-right: 2px;
    }

    input,input[type="text"]:disabled,input[type="number"]{
        background: transparent;
        margin: 0!important;
        border: none !important;
        padding: 12px 10px!important;
        text-align: left;
        font-weight: normal;
        height: 48px;
        width: 100%;
        border-radius: 0;
        outline: 0 !important;
        color: #222;
    }

    input:focus,input[type=number]:focus{
        box-shadow:inset 0 0 0px 1px #9ad0ff;
        border: none !important;
        background:aliceblue;
        outline: 0;
    }
}

#bg-black{
    background: #00000090;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
}

.barber-info{
  background: #40b2e826;
  border: none;
  text-align: center;
  color: #23759a;
  padding: 20px 0;
  margin: 5px;

  .datos-informe{
    background: transparent;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 1px 0px #00000020;
  }

  .pie-informe{
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
  }
}

#registroServicio{
  width: 90%;
  margin: 0 auto;

  section.spanMarginSectionServicio{
    margin: 15px 0;
    border-bottom: 1px solid #ececec;
    padding: 0 0 15px 0;
  }

  label,select,input[type=date]{
    width: 100%;
  }

  label.servicioLista{
    width: 100%;
  }

  .topServicio{
    font-size: 14px;
    color: #6f6f6f;
  }

  select#nomBarbero{
        background: #00000008;
        outline: 0;
        padding: 15px 15px;
        font-size: 16px;
        border: none;
        border-radius: 3px;
        margin-top: 5px;
        font-weight: 600;
        color: #444;
        box-shadow: 0 2px 2px 0px #00000020;
  }
}

input[type=date]{
  text-align: center!important;
  padding: 13px 0;
  border-radius: 3px;
  outline: 0;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: #00000008;
  border: none;
  box-shadow: 0 2px 2px 0px #00000020;
  margin-top: 5px;
}

input[type=checkbox]{
    display: none;
    cursor: pointer;
    position: absolute;
    top: -5px;
}

#registroServicio .checkmark {
    position: relative;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    cursor:pointer;
    border-radius: 2px ;
    float: left;
    margin-right: 10px;
    @extend %horizontal-align;
    @extend %transition;
}

.servicio-Itm-List{
  font-weight: 500;
  color: #444;
  font-size: 16px;

  input[type=text]{
    transition: none;
    padding: 15px 0!important;
    height: auto!important;
    margin: 5px 0 0 0;
    background: #00000008;
    border: none!important;
    box-shadow: 0 2px 2px 0px #00000020;
  }

  input[type=text]:focus{
    box-shadow: inset 0 0 0px 1px #9ad0ff,  0 2px 2px 0px #00000020;
    border: none !important;
    background:aliceblue;
    outline: 0;
  }
}

.servicio-Itm-List:hover input[type=checkbox] ~ .checkmark{
    background-color: #ccc;
}

.servicio-Itm-List input[type=checkbox]:checked ~ .checkmark{
    background-color:#0c56d8 !important;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.servicio-Itm-List input[type=checkbox]:checked ~ .checkmark:after {
    display: block;
}
.servicio-Itm-List .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.total-servicio-box{
    background: #ddefff;
    padding: 15px;
    width: 58% !important;
    border: none!important;
    box-shadow: none;
    text-align: center;
    border-radius: 3px;
    color: #154977;
    font-weight: bold;
    margin: 0px !important;
    @extend %horizontal-align;
}

.total-servicio-box-total{
  width: 40%;
  color: #444;
  @extend %horizontal-align;
}

@media (max-width: 425px){
  div#contenido{    padding: 0px 10px 15px 10px;}
  div#contenido .box-8 {grid-template-columns: 50% 50% }
  .barber-info{padding: 30px 0;margin: 5px;}
  main{padding-left: 0!important;}
  #nav-left{width:70%!important;z-index:99; display: none;}
  #registroServicio{width: 100%;}
  .bg-imagen-barberia{background-position: 50% 75%;}
  .box{max-width: 100%!important;}
  input[type=date]{padding: 16px 0;}
}
