// Dashboard
.val-reporte,.ser-reporte{
    width: 100%;    
    text-align: center;
}

.val-reporte{
    font-size: 28px;
    font-weight: 600;
}

.ser-reporte{
    font-size: 12px;
    text-transform: uppercase;
}

.historial-registros{
    #paginaAtras,#paginaDelante,label{
        @include horizontal-align(middle);
    }
}