// Formulario por defecto
input,select{
  width: 100%;
  height: auto;
  padding: 12px 0 12px 15px;
  margin: 5px 0 10px 0 ;
  border: none;  
  background: rgba(0,0,0,0.03);  
  border-radius: 1px;
  outline: 0;
  color: #444;
  font-weight: 400;
  font-size: 14px;
  box-shadow:0 0 0px 1px rgba(0,0,0,0.15);  
}

input:focus{
  box-shadow:0 0 0px 1px #0aaff1;  
  background:#FFF;
}

.input-with-icon{padding: 12px 0 12px 40px;}
//

// Formulario tipo .input-outline
.input-outline > input{
  box-shadow: none!important;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.08);
  padding: 2px 0 10px 10px;
  border-radius: 0;
  background: transparent!important;
  margin: 10px 0 10px 0 ;
}

.input-outline > input:focus{ border-bottom: 1px solid #0aaff1!important;}
.input-outline > .input-with-icon{padding: 2px 0 10px 40px;}

input[type=text]:disabled{
  background: #CCC!important;
}
//

form .input-label{
  font-weight: 600;
  color:rgba(0,0,0,.5);
  margin: 0;
  font-family: $roboto;
  text-transform: uppercase;
  font-size: 11px;
}

form .last-input{margin: 10px 0 0 0;}

form  button{
  width: 100%;
  max-width: 100%;
  margin: 5px 0 10px 0 !important;
}

.icon-input::before{
  float: left;
  margin-top: -42px;
  margin-left: 5px;
  z-index: 0;
  color: #333;
  font-size: 24px;
  position: relative;
  width: 30px;
  text-align: center;
  padding-right: 10px;
}

//Checkmark style

input[type=checkbox]{
  display: none;
  cursor: pointer;
  position: absolute;
  top: -5px;
}

.checkmark {
  position: relative;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  cursor:pointer;
  border-radius: 2px ;
  float: left;
  margin-right: 10px;
  @include horizontal-align(center);
  @include transition-all(0.3s);
}

.servicio-Itm-List{
font-weight: 500;
color: #444;
font-size: 16px;

input[type=text]{
  transition: none;
  padding: 15px 0!important;
  height: auto!important;
  margin: 5px 0 0 0;
  background: #00000008;
  border: none!important;
  box-shadow: 0 2px 2px 0px #00000020;
}

input[type=text]:focus{
  box-shadow: inset 0 0 0px 1px #9ad0ff,  0 2px 2px 0px #00000020;
  border: none !important;
  background:aliceblue;
  outline: 0;
}
}

.servicio-Itm-List:hover input[type=checkbox] ~ .checkmark{
  background-color: #ccc;
}

.servicio-Itm-List input[type=checkbox]:checked ~ .checkmark{
  background-color:#0c56d8 !important;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.servicio-Itm-List input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}
.servicio-Itm-List .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
