// Formulario por defecto
input,
select {
  width: 100%;
  height: auto;
  padding: 12px 0 12px 15px;
  margin: 5px 0 10px 0;
  border: none;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 1px;
  outline: 0;
  color: #444;
  font-weight: 400;
  font-size: 14px;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.15);
}

input:focus {
  box-shadow: 0 0 0px 1px #0aaff1;
  background: #fff;
}

.input-with-icon {
  padding: 12px 0 12px 40px;
}
//

// Formulario tipo .input-outline
.input-outline > input {
  box-shadow: none !important;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 2px 0 10px 10px;
  border-radius: 0;
  background: transparent !important;
  margin: 10px 0 10px 0;
}

.input-outline > input:focus {
  border-bottom: 1px solid #0aaff1 !important;
}
.input-outline > .input-with-icon {
  padding: 2px 0 10px 40px;
}

input[type="text"]:disabled {
  background: #ccc !important;
}
//

.input-label {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  font-family: $roboto;
  text-transform: uppercase;
  font-size: 11px;
}

form .last-input {
  margin: 10px 0 0 0;
}

form button {
  width: 100%;
  max-width: 100%;
  margin: 5px 0 10px 0 !important;
}

.icon-input::before {
  float: left;
  margin-top: -42px;
  margin-left: 5px;
  z-index: 0;
  color: #333;
  font-size: 24px;
  position: relative;
  width: 30px;
  text-align: center;
  padding-right: 10px;
}

// CHECKMARk_NEW

.checkbox-btn {
  margin-right: 5px;
  width: 40px;
  height: 20px;
  border-radius: 25px;
  display: inline-block;
  position: relative;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==);
  background-color: #e74c3c;
  background-repeat: no-repeat;
  background-position: 22px;
  background-size: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
  &.active {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC)!important;
    background-color: #2ecc71!important;
    background-position: 6px!important;
    background-repeat: no-repeat!important;
    background-size: 12px!important;
    .round-btn {
      left: 22px;
    }
  }
  .round-btn {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 6px;
    top: 4px;
    //margin-top: -15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  }
  .estadoEmpleado {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    margin: 0;
  }
}

// CHECKMARK_OLD

// input[type=checkbox]{
//   display: none;
//   cursor: pointer;
//   position: absolute;
//   top: -5px;
// }

// .checkmark {
//   position: relative;
//   top: 0;
//   right: 0;
//   height: 20px;
//   width: 20px;
//   background-color: #eee;
//   cursor:pointer;
//   border-radius: 2px ;
//   float: left;
//   margin-right: 10px;
//   @include horizontal-align(center);
//   @include transition-all(0.3s);
// }

// .servicio-Itm-List{
// font-weight: 500;
// color: #444;
// font-size: 16px;

// input[type=text]{
//   transition: none;
//   padding: 15px 0!important;
//   height: auto!important;
//   margin: 5px 0 0 0;
//   background: #00000008;
//   border: none!important;
//   box-shadow: 0 2px 2px 0px #00000020;
// }

// input[type=text]:focus{
//   box-shadow: inset 0 0 0px 1px #9ad0ff,  0 2px 2px 0px #00000020;
//   border: none !important;
//   background:aliceblue;
//   outline: 0;
// }
// }

// .servicio-Itm-List:hover input[type=checkbox] ~ .checkmark{
//   background-color: #ccc;
// }

// .servicio-Itm-List input[type=checkbox]:checked ~ .checkmark{
//   background-color:#0c56d8 !important;
// }

// .checkmark:after {
//   content: "";
//   position: absolute;
//   display: none;
// }

// .servicio-Itm-List input[type=checkbox]:checked ~ .checkmark:after {
//   display: block;
// }
// .servicio-Itm-List .checkmark:after {
//   left: 6px;
//   top: 2px;
//   width: 5px;
//   height: 10px;
//   border: solid white;
//   border-width: 0 3px 3px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
// }
