table{
  padding: 0;
  margin: 5px auto;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: 14px;

  thead{
    background: #f0f1f3;
    text-transform: uppercase;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    color: #b1b1b1;
    text-align: left;

    th{padding: 10px 0 10px 10px;font-weight: 500;}
  }

  tbody > tr{
    background: #FFF;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    border-top: 1px solid rgba(0,0,0,0.08);
    color: #333;

    td{
      padding: 15px 8px;

      button.btn-circle{
        margin: 0 !important;
        @include horizontal-align(middle);
        width: 40px;
        height: 40px;
      }
    }

    .td-button{width: auto;padding: 10px 5px;}
  }
}

.table-hover > tbody > tr:hover{
  background:#f3f3f3;  
}

table.tabla-list{
    border-collapse: separate;
    border-spacing: 0px 10px;
    margin: 0 auto;
    tbody > tr{
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    }

    thead{
      background: transparent;

      th{padding: 0 10px;}

    }
}


[class^="tabla-imagen"]{
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,.06);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}

.tabla-imagen-redonda{border-radius: 150%;}
.tabla-imagen-cuadrada{border-radius: 0;}

.table-inputs{  
  th{            
    padding: 10px;
    text-align: left;
    border: 1px solid #f0f1f3;
  }
  
  tr td{
    padding: 0px!important; 
    border: 1px solid #f0f1f3;
  }

  input{
    margin: 0;    
    background:#fff;
    box-shadow: none;
    padding: 12px 12px!important;
  }

  .input-with-icon{
    padding:12px 12px 12px 40px !important;
  }

  input:focus{ 
    box-shadow: inset 0 0 0px 1px #9ad0ff !important;
    background: aliceblue;
  }

  td:nth-child(1), th:nth-child(1),th:nth-child(6),td:nth-child(6) {
    text-align: center;
  }

  td:nth-child(5) {
    text-align: right;
  }

  td:nth-child(1){width: 5%;}
  td:nth-child(2){width: 35%;}
  td:nth-child(3),td:nth-child(5){width: 20%;}
  td:nth-child(4){width: 10%;}
  td:nth-child(6){width: 10%;}

  button.btn-circle{
    width: 35px;
    height: 35px;
    margin-right: 3px!important;
  }

  .icon-input::before{
    margin-top: -32px;
    cursor: pointer;
    @include transition-all(0.3s);
  }

  .icon-input:hover::before{
    color : #1769ff;
  }
}