@mixin horizontal-align($posicion){
    display: inline-block;
    vertical-align: $posicion;
}

@mixin transition-all($time){
  transition: all $time ease;
}

@import 'fuentes';
@import 'colores';
@import 'botones';
@import 'ripple';
@import 'tooltip';
@import 'forms';
@import 'tablas';
@import 'alertas';
@import 'extras';
@import 'popup';

body,div,main,ul,li,i,input{text-rendering: optimizeLegibility!important;}
li,input,tr,table{@include transition-all(0.3s);}
form{margin: 0}

html,body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 ;
    border: 0;
}

html{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

body{
    font-size:.8rem;    
	letter-spacing: normal;
    font-style: normal;
    font-weight: normal;
    background:#f8f8f8;
    overflow-y: scroll;
}

body,input{font-family: $roboto;}

a,a:link,a:visited{text-decoration: none;color:inherit;}
button{cursor: pointer;}

.less-border{ border: none!important;}
.box-center{margin: 0 auto;}
.padding-left-10{padding-left: 10px;}
.float-right{float:right;}
hr{border: .5px solid rgba(0,0,0,0.05);}
.clear-both{clear:both;}
.margin-right{margin-right: 10px!important;}
.display-none{display: none;}
.display-block{display: block;}
.text-center{text-align: center;}
.less-margin-right{margin-right: 0!important;}

#addItmSrv{margin-top: 18px!important;}

@import 'header';
@import 'main';


.loader {height: 2px;width: 100%;overflow: hidden; background-color: #ddd;position:absolute;top:0;}
.loader:before {display: block; position: absolute; content: "";left: -200px; width: 200px;height: 4px; background-color: #044171; animation: loading 2s linear infinite;}  
@keyframes loading {from {left: -200px;  width: 30%; } 50% { width: 30%; }70% { width: 70%;}80% {left: 50%; } 95% {left: 120%;}to {left: 100%;}}

.loader-spinner { border: 5px solid #ffffff; border-radius: 50%;  border-top: 5px solid #555; width: 20;  height: 20px; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; margin: 0 auto; } 
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% {transform: rotate(0deg); }100% {  transform: rotate(360deg); } }

 @import 'responsive';